.Fixture
  font-size: var(--font-size-sm)

  p
    margin: 2px 0

  &__time
    color: var(--color-attention)

  &--strong
    font-size: 18px
    font-weight: bold

  &__grading-icon
    margin-right: 5px
    position: relative
    top: 1px

  &__team-link
    display: flex

    .feather
      margin-left: 5px
